{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center" >My Django CRUD</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos repellat nam id aspernatur alias cum ex commodi voluptates harum deserunt perspiciatis blanditiis tempora, odit voluptas. Cum repellat odio hic, veritatis itaque facilis ab totam possimus voluptatem, accusamus dolore? Deserunt enim porro adipisci qui totam exercitationem, iste, voluptatem repellat, suscipit eligendi ipsum quis error. Consequuntur veniam ad laudantium, obcaecati officiis, eos modi iusto deleniti minus aperiam doloremque excepturi earum quibusdam in atque reiciendis vel quaerat delectus natus voluptas ut id labore illo. Vitae corporis, exercitationem molestiae, veritatis quisquam totam incidunt alias fugit deleniti iste, ipsum maxime possimus! Dignissimos, tempora corporis?</p>

        <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Login
        </a>
        <a class="btn btn-dark" href="/signup/">
            Sign Up
        </a>
    </div>
    </section>
</main>
{% endblock %}